/*-------------------
	   Animate
--------------------*/

$component: ani;
.#{$component} {
	
	// Base settings
	// --------------------------------
	animation-duration: 750ms;
	animation-fill-mode: both;
	animation-timing-function: $ease;
	
	
	// Durations
	// --------------------------------
	
	&--dur-500 {
		animation-duration: 500ms;
	}
	
	&--dur-1000 {
		animation-duration: 1s;
	}
	
	&--dur-1500 {
		animation-duration: 1.5s;
	}
	
	&--dur-2000 {
		animation-duration: 2s;
	}
  
  
	// Delays
	// --------------------------------
  	&--delay-250 {
		animation-delay: 250ms;
	}
	
	&--delay-500 {
		animation-delay: 500ms;
	}
	
	&--delay-750 {
		animation-delay: 750ms;
	}
	
	&--delay-1000 {
		animation-delay: 1s;
	}
	
	&--delay-1250 {
		animation-delay: 1.25s;
	}
	
	&--delay-1500 {
		animation-delay: 1.5s;
	}
	
	
	// Animation variants
	// --------------------------------
	@keyframes fade-in {
		from {
		opacity: 0;
		}
		
		to {
		opacity: 1;
		}
	}

	&--fade-in {
		animation-name: fade-in;
	}
	
	@keyframes fade-in-hero {
		from {
			opacity: 0;
		}
		
		to {
			opacity: $gradient-opacity;
		}
	}
	
	@keyframes fade-in-down {
		from {
			opacity: 0;
			transform: translate3d(0, -50%, 0);
		}
		
		to {
			opacity: 1;
			transform: none;
		}
	}
	
	&--fade-in-down {
		animation-name: fade-in-down;
	}
	
	@keyframes fade-in-left {
		from {
			opacity: 0;
			transform: translate3d(-100%, 0, 0);
		}
	
		to {
			opacity: 1;
			transform: none;
		}
	}
	
	&--fade-in-left {
		animation-name: fade-in-left;
	}
	
	@keyframes fade-in-right {
		from {
			opacity: 0;
			transform: translate3d(100%, 0, 0);
		}
	
		to {
			opacity: 1;
			transform: none;
		}
	}
	
	&--fade-in-right {
		animation-name: fade-in-right;
	}
	
	@keyframes fade-in-up {
		from {
			opacity: 0;
			transform: translate3d(0, 100%, 0);
		}
	
		to {
			opacity: 1;
			transform: none;
		}
	}
	
	&--fade-in-up {
		animation-name: fade-in-up;
	}
	
	@keyframes fade-in-up-small {
		from {
			opacity: 0;
			transform: translate3d(0, 30px, 0);
		}
	
		to {
			opacity: 1;
			transform: none;
		}
	}
	
	&--fade-in-up-small {
		animation-name: fade-in-up-small;
	}
	
	@keyframes scale-in-down {
		from {
			opacity: 0;
			transform: scaleY(0);
		}
	
		to {
			opacity: 1;
			transform: scaleY(1);
		}
	}
	
	&--scale-in-down {
		animation-name: scale-in-down;
		transform-origin: 0 0;
		animation-duration: $timing-medium;
	}
	
	@keyframes fade-out-up {
		from {
			opacity: 1;
			transform: none;
		}
		to {
			opacity: 0;
			transform: translate3d(0, -100%, 0);
		}
	}
	
	&--fade-out-up {
		animation-name: fade-out-up;
	}
}