/*-------------------
       Sections
--------------------*/

.flx-section {
	position: relative;
	overflow: hidden;
}

.flx-section--usps {
	padding: $half-gutter 0;
	@include sm {
		padding: 24px 0;
	}
}

.flx-section__container {
	padding: $gutter 0;
	@include md {
		padding: $triple-gutter 0;
	}
	
	&--small {
		@include md {
			padding: $gutter 0;
		}
	}
	
	&--medium {
		@include md {
			padding: $double-gutter 0;
		}
	}
	
	&--large {
		padding: $one-half-gutter 0;
		@include md {
			padding: 15vh 0;
		}
	}
}

.flx-section__content {
	padding: $gutter;
	
	&--white {
		.flx-section__title,
		.flx-section__description,
		.flx-section__label {
			color: $ns-white;
			text-shadow: 1px 1px rgba($ns-grey, 0.5);
		}
	}
	
	&--mw-800 {
		max-width: 800px;
		margin: 0 auto;
	}
	
	&--txt-block-left {
		@include md { 
			padding-left: $double-gutter;
		}
	}
}

.flx-section__content-item {
	&:last-child {
		margin: 0;
	}
}

.flx-section__title {
	@include font-style(28px, normal, 1.3);
	margin-bottom: $half-gutter;
	color: $ns-blue;
	@include md {
		font-size: calculate-rem(42px);
		margin-bottom: $gutter;
	}
	
	&--small {
		@include font-style(24px, normal, 1.4);
		@include md {
			font-size: calculate-rem(32px);
		}
	}
	
	&--more-margin {
		margin-bottom: $gutter;
		@include md {
			margin-bottom: $one-half-gutter;
		}
	}
}

.flx-section__subtitle {
	@include font-style(20px, normal, 1.3);
	margin-bottom: 4px;
}

.flx-section__description {
	@include font-style(18px, normal, 1.6);
	color: $ns-blue;
	margin-bottom: $gutter;
	@include md {
		font-size: calculate-rem(20px);
	}
	
	&--cta {
		margin-bottom: $one-half-gutter;
	}
}

.flx-section__paragraph {
	margin-bottom: $gutter;
	&:last-child {
		margin: 0;
	}
}

.flx-section__label {
	font-weight: bold;
	margin-top: $gutter;
	margin-bottom: 10px;
	color: $ns-blue;
}

.flx-section__img {
	padding: $gutter $gutter 0;
	line-height: 0;
	width: 200px;
	@include md {
		padding: $gutter;
		width: 60%;
		justify-self: center;
	}
	
	&--100 {
		width: 100%;
		max-width: 440px;
		@include md {	
			max-width: none;
		}
	}
	
	&--clip {
		align-self: end;
		padding-bottom: 0;
		padding-top: 0;
		width: 100%;
		max-width: 440px;
		@include sm {
			padding-top: $double-gutter;
		}
		@include md {
			max-width: none;
		}
	}
	
	&--shadow {
		box-shadow: $box-shadow-medium;
	}
	
	&--abo {
		@include md {
			width: 200px;	
		}
	}
}

.flx-section__ol {
	line-height: 1.3;
	
	li {
		margin-bottom: 20px;
	}
}