/*-------------------
     Backgrounds
--------------------*/


// background images
// ----------------------------
.flx-bg {
	@extend %full-absolute;
	transition: all 1s $ease;
	opacity: 0;
	background-size: cover;
	
	&__container-fixed {
		display: none;
		@extend %full-fixed;
		&.is-active {
			display: block;
		}
	}
		
	&--1eklas {
		background-position: left center;
		background-image: url("../../media/1eklas.jpg");
	}
}


// background gradients
// ----------------------------
.flx-gradient {
	@extend %full-absolute;
	transition: all 1s $ease;
	opacity: 0;
	
	&--vivid-blue {
		background: linear-gradient(
			135deg, $ns-light-blue 0%, #4BCED4 100%);
		opacity: 0.3;
	}
	
	&--cerulean {
		background: linear-gradient(
			93deg, #94DCF6 0%, #C6EDFD 100%);
	}
	
	&--cobalt-blue {
		background: linear-gradient(to bottom,
			rgba($ns-blue, 1) 0%,
			rgba($ns-blue, 1) 10%,
			rgba($ns-blue, 0) 100%);
		opacity: 0.8;
	}
	
	&--ns-blue {
		background: linear-gradient(
			93deg, #0050A8 0%, $ns-blue 100%);
	}
	
	&--light-grey {
		background: linear-gradient(
			93deg, $ns-white 0%, $ns-grey-7 100%);
	}
	
	&--yellow {
		background: linear-gradient(
			93deg, $ns-yellow 0%, #FFE48A 100%);
	}
	
	&--turquoise {
		background: linear-gradient(
			93deg, #79CEC3 0%, #BCFFF0 100%);
	}
}
