/*-------------------
         Ros
--------------------*/

.flx-ros__grid {
	display: grid;
	grid-gap: $gutter;
	@media (min-width: $sm) {
		grid-template-columns: repeat(2, 1fr);	
	}
	@media (min-width: $md) {
		grid-template-columns: repeat(3, 1fr);	
	}
}

.flx-ros__content {
	display: none;
	margin-top: -56px;
	@media (min-width: $md) {
		margin-top: -70px;
	}
}

.flx-ros__description {
	padding-bottom: 56px;
	@media (min-width: $md) {
		padding-bottom: 90px;
	}
}

.flx-ros__btn-icon {
	position: relative;
	top: -4px;
	margin-right: 7px;
	svg {
		fill: $ns-light-blue;
	}
}