/*-------------------
     Backgrounds
--------------------*/

.flx-bg {
	transition: all 750ms $ease;
	opacity: 0;
	
	&--absolute {
		@include full(absolute);	
	}
	&--fixed {
		@include full(fixed);
	}
	&--white {
		background-color: $ns-white;
	}
	&--yellow {
		background-color: $ns-yellow;
	}
	&--grey {
		background-color: $ns-grey-7;
	}
	&--light-grey {
		background-color: $ns-grey-8;
	}
}

// gradients
// ----------------------------
.flx-gradient {
	@include full(absolute);
	transition: all 750ms $ease;
	opacity: 0;
	
	&--vivid-blue {
		background: linear-gradient(
			135deg, $ns-light-blue 0%, #4BCED4 100%);
		opacity: 0.3;
	}
	&--blue-to-light {
		background: linear-gradient(
			135deg, $ns-blue 0%, $ns-light-blue 100%);
		opacity: 0.3;
	}	
	&--cerulean {
		background: linear-gradient(
			110deg, #94DCF6 0%, #C6EDFD 100%);
	}	
	&--cobalt-blue {
		background: linear-gradient(to bottom,
			rgba($ns-blue, 1) 0%,
			rgba($ns-blue, 0) 80%);
		opacity: 0.6;
	}
	&--black {
		background: linear-gradient(to bottom,
			rgba($ns-black, 1) 0%,
			rgba($ns-black, 0) 80%);
		opacity: 0.35;
	}	
	&--ns-blue {
		background: linear-gradient(
			110deg, #0050A8 0%, $ns-blue 100%);
	}	
	&--light-grey {
		background: linear-gradient(
			110deg, $ns-white 0%, $ns-grey-7 100%);
	}	
	&--grey {
		background: linear-gradient(
			110deg, $ns-grey-8 0%, $ns-grey-7 100%);
	}	
	&--yellow {
		background: linear-gradient(
			110deg, $ns-yellow 0%, #FFE48A 100%);
	}	
	&--turquoise {
		background: linear-gradient(
			110deg, #79CEC3 0%, #BCFFF0 100%);
	}
	&--vibrant {
		background: linear-gradient(
			110deg, #00a29c 0%, #4bc3c6 100%);
		opacity: 1;
	}
	&--stone {
		background: linear-gradient(
			110deg, #e1ab93 0%, #edc0a9 100%);
		opacity: 0.75;
	}
}


// borders
.flx-border-grey-top {
	border-top: 1px solid $ns-grey-7;
}

.flx-border-grey-top-bottom {
	border-top: 1px solid $ns-grey-7;
	border-bottom: 1px solid $ns-grey-7;
}