/*-------------------
  generic overrides
-------------------*/

.ovr-container {
	padding-left: 0;
	padding-right: 0;
	max-width: 1228px;
	margin: auto;
	
	@include sm {
		padding-left: $gutter;
		padding-right: $gutter;
	}
}

.ovr-header {
	position: absolute;
}

.ovr-header__content {
	margin: 0 auto;
	padding-left: $gutter;
	padding-right: $gutter;
	
	@include sm {
		padding-left: $double-gutter;
		padding-right: $double-gutter;
	}
}

.ovr-footer {
	padding: 32px 0 14px;
}

.ovr-collapsibleList__item {
	border-color: $ns-grey-7 !important;
}