/*-------------------
        Grid
--------------------*/

.flx-grid {
	display: grid;
	grid-column-gap: $gutter;
	
	&--align-center {
		align-items: center;
	}
	
	&--1-1 {
		@media (min-width: $md) {
			grid-template-columns: 1fr 1fr;
		}
	}
	
	&--1-1-sm {
		@media (min-width: $sm) {
			grid-template-columns: 1fr 1fr;
		}
	}
	
	&--2-3 {
		@media (min-width: $md) {
			grid-template-columns: 2fr 3fr;
		}
	}
	
	&--2-3-sm {
		@media (min-width: $sm) {
			grid-template-columns: 2fr 3fr;
		}
	}
	
	&--3-2 {
		@media (min-width: $md) {
			grid-template-columns: 3fr 2fr;
		}
	}
	
	&--max-1 {
		@media (min-width: $md) {
			grid-template-columns: max-content 1fr;
		}
	}
	
	&--1-max {
		@media (min-width: $md) {
			grid-template-columns: 1fr max-content;
		}
	}
	
	&--max-max {
		@media (min-width: $md) {
			grid-template-columns: max-content max-content;
		}
	}
	
	&--row-gap {
		grid-row-gap: $gutter;
	}
	
	&--double-row-gap {
		grid-row-gap: $double-gutter;
	}
	
	&--double-col-gap {
		grid-column-gap: $double-gutter;
	}
	
	// child classes
	&__reverse {
		@media (min-width: $md) {
			order: 3;
		}
	}
}