/*-------------------
        Layout
--------------------*/

// spacers
// ----------------------------------
@for $i from 1 through 16 {
	// margin
	.spacer-margin-#{$i} {
		@include spacer($i, false);
	}
	
	//padding
	.spacer-padding-#{$i} {
		@include spacer($i, true);
	}
}

.spacer-default {
	margin-bottom: $half-gutter;
	@media (min-width: $sm) {
		margin-bottom: $gutter;
	}
}

.spacer-inline-block {
	display: inline-block;
	width: 100%;
}


// tiles
// ----------------------------------
.white-container {
	background: $ns-white;
	box-shadow: $box-shadow-container;
}


// grid
// ----------------------------
.flx-grid {
	display: grid;
	grid-column-gap: $gutter;
	
	&--align-center {
		align-items: center;
	}
	
	&--1-1 {
		@media (min-width: $md) {
			grid-template-columns: 1fr 1fr;
		}
	}
	
	&--1-1-sm {
		@media (min-width: $sm) {
			grid-template-columns: 1fr 1fr;
		}
	}
	
	&--2-3 {
		@media (min-width: $md) {
			grid-template-columns: 2fr 3fr;
		}
	}
	
	&--3-2 {
		@media (min-width: $md) {
			grid-template-columns: 3fr 2fr;
		}
	}
	
	&--max-1 {
		@media (min-width: $md) {
			grid-template-columns: max-content 1fr;
		}
	}
	
	&--max-max {
		@media (min-width: $md) {
			grid-template-columns: max-content max-content;
		}
	}
	
	&--row-gap {
		grid-row-gap: $gutter;
	}
	
	&--double-row-gap {
		grid-row-gap: $double-gutter;
	}
	
	&--double-col-gap {
		grid-column-gap: $double-gutter;
	}
	
	// child classes
	&__reverse {
		@media (min-width: $md) {
			order: 3;
		}
	}
}