/*-------------------
         App
--------------------*/


// hero 
// ----------------------------
.flx-hero {
	overflow: hidden;	
	position: absolute;
	@media (min-width: $md) {
		position: fixed;
	}
	
	&__size {
		width: 100%;
		min-height: 300px;
		height: calc(100vh - 120px);
		@media (min-width: $md) {
			height: calc(100vh - 60px);
		}
	}
	
	&__img {
		@extend %full-absolute;
		@extend %bg-cover;
		background-image: url("../../media/ns-flex-sm.jpg");
		@media (min-width: $sm) {
			background-image: url("../../media/ns-flex-lg.jpg");
		}
	}
	
	&__flow {
		position: absolute;
		width: 100%;
		@media (min-width: $lg) {
			width: 90%;
		}
		
		svg {
			opacity: 0.4;
		}
	}
	
	&__content {
		margin-top: $half-gutter;
		max-width: 900px;
		padding: $gutter;
		text-shadow: $text-shadow-tile;
		@media (min-width: $md) {
			margin-top: 8vh;
		}
	}
	
	&__title {
		@include font-style(24px, normal, 1.2);
		color: $ns-white;
		@media (min-width: $sm) {
			font-size: calculate-rem(40px);
		}
		@media (min-width: $lg) {
			font-size: calculate-rem(56px);
		}
		@media (max-height: 520px) and (max-width: $md) {
			font-size: calculate-rem(24px);
		}
	}
	
	&__subtitle {
		@include font-style(36px, bold, 1.2);
		color: $ns-white;
		@media (min-width: $sm) {
			font-size: calculate-rem(60px);
		}
		@media (min-width: $lg) {
			font-size: calculate-rem(80px);
		}
		@media (max-height: 520px) and (max-width: $md) {
			font-size: calculate-rem(36px);
		}
	}
}



// sections 
// ----------------------------
.flx-section {
	position: relative;
	overflow: hidden;
	padding: $half-gutter 0;
	@media (min-width: $sm) {
		padding: $gutter 0;
	}
	
	&__content {
		padding: $gutter;
		
		&--white {
			.flx-section__title,
			.flx-section__description,
			.flx-section__label {
				color: $ns-white;
				text-shadow: 1px 1px rgba($ns-grey, 0.5);
			}
		}
		
		&--center-md-lg {
			max-width: 740px;
			@media (min-width: $md) {
				margin: 0 auto;
				text-align: center;
			}
		}
		
		&--small {
			max-width: 720px;
		}
	}
	
	&__title {
		@include font-style(28px, normal, 1.3);
		margin-bottom: 7px;
		color: $ns-blue;
		@media (min-width: $md) {
			font-size: calculate-rem(42px);
		}
	}
	
	&__description {
		@include font-style(18px, normal, 1.6);
		color: $ns-blue;
		margin: 0;
		@media (min-width: $md) {
			font-size: calculate-rem(20px);
		}
	}
	
	&__label {
		font-weight: bold;
		margin-top: $gutter;
		margin-bottom: 10px;
		color: $ns-blue;
	}
	
	&__img {
		padding: $gutter $gutter 0;
		line-height: 0;
		width: 200px;
		@media (min-width: $md) {
			padding: $gutter;
			width: 60%;
			justify-self: center;
		}
		
		&--100 {
			width: 100%;
			max-width: 440px;
			@media (min-width: $md) {	
				max-width: none;
			}
		}
	}
	
	&__divider {
		margin: $gutter;
		border-bottom: 1px solid $ns-grey-6;
		@media (min-width: $md) {
			margin: $double-gutter $gutter;
		}
		
		&--alpha {
			border-bottom: 1px solid $ns-grey-alpha-15;
		}
	}
	
	&--last {
		padding-bottom: 0;
	}
}



// al het ov
// ----------------------------
.flx-ov {
	@extend %bg-cover;
	background-image: url("../../media/ov.jpg");
	padding: $one-half-gutter 0;
	@media (min-width: $md) {
		padding: 18vh 0;
	}
	
	&__text {
		background-color: $ns-white;
		box-shadow: $box-shadow-medium;
		padding: $gutter;
	}
}


// costs counter
// ----------------------------
.flx-costs {
	position: relative;
	overflow: hidden;
	@extend .flx-gradient--grey;
	
	&__content {
		padding: $double-gutter $gutter;
		@media (min-width: $md) {
			padding: 160px $gutter;
		}
	}
	
	&__img {
		position: relative;
		padding: 0 $gutter;
		bottom: -10px;
		width: 100%;
		max-width: 480px;
		@media (min-width: $sm) {
			position: absolute;
			padding: 0;
			right: 0;
			width: 40%;
		}
	}
}


// first class
// ----------------------------
.flx-first-class {
	padding: $gutter 0;
	background-color: $ns-white;
	@media (min-width: $md) {
		padding: $triple-gutter 0;
	}
}


// abo
// ----------------------------
.flx-abo {
	@extend .flx-gradient--grey;
	padding: $gutter 0;
	@media (min-width: $md) {
		padding: $triple-gutter 0;
	}
	
	&__tile {
		max-width: 400px;
	}
	
	&__icon {
		height: 48px;
		
		svg {
			fill: $ns-blue;
		}
	}
}


// call to action
// ----------------------------
.flx-cta {
	@extend .flx-gradient--yellow;
	padding: $gutter 0;
	@media (min-width: $md) {
		padding: $triple-gutter 0;
	}
}


// testimonial
// ----------------------------
.flx-testimonial {
	@extend .flx-gradient--grey;
	padding: $gutter 0;
	@media (min-width: $md) {
		padding: $triple-gutter 0;
	}
	
	&__content {
		margin: 0 auto;
		max-width: 820px;
	}
	
	&__img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background-image: url("../../media/marieke-ph.jpg");
		@extend %bg-cover;
	}
	
	&__quote {
		@include font-style(20px, normal, 1.6);
		margin-bottom: 20px;
		color: $ns-blue;
	}
	
	&__sender {
		margin: 0;
		color: $ns-blue;
	}
	
	&__icon {
		margin-bottom: $half-gutter;
		
		svg {
			fill: $ns-white;
		}		
	}
}


// grid
// ----------------------------
.flx-grid {
	display: grid;
	grid-column-gap: $gutter;
	align-items: center;
	
	&--align-start {
		align-items: start;
	}
	
	&--1-1 {
		@media (min-width: $md) {
			grid-template-columns: 1fr 1fr;
		}
	}
	
	&--1-1-sm {
		@media (min-width: $sm) {
			grid-template-columns: 1fr 1fr;
		}
	}
	
	&--2-3 {
		@media (min-width: $md) {
			grid-template-columns: 2fr 3fr;
		}
	}
	
	&--3-2 {
		@media (min-width: $md) {
			grid-template-columns: 3fr 2fr;
		}
	}
	
	&--max-1 {
		@media (min-width: $md) {
			grid-template-columns: max-content 1fr;
		}
	}
	
	&--max-max {
		@media (min-width: $md) {
			grid-template-columns: max-content  max-content;
		}
	}
	
	&--row-gap {
		grid-row-gap: $gutter;
	}
	
	&--double-row-gap {
		grid-row-gap: $double-gutter;
	}
	
	&--double-col-gap {
		grid-column-gap: $double-gutter;
	}
	
	// child classes
	&__reverse {
		@media (min-width: $md) {
			order: 3;
		}
	}
}