/*-------------------
         App
--------------------*/


// hero 
// ----------------------------
.flx-hero {
	position: relative;
	overflow: hidden;
	width: 100vw;
	min-height: 300px;
	height: calc(100vh - 60px);
	@media (min-width: $sm) {
		margin-bottom: $double-gutter;
	}
	
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		@media (min-width: $md) {
			height: inherit;
		}
	}
	
	&__img {
		@extend %full-absolute;
		@extend %bg-cover;
		background-image: url("../../media/girl-green.jpg");
	}
	
	&__flow {
		position: absolute;
		width: 100%;
		@media (min-width: $lg) {
			width: 90%;
		}
				
		svg {
			opacity: 0.4;
		}
	}
	
	&__content {
		margin-top: $half-gutter;
		max-width: 800px;
		padding: $gutter;
		text-shadow: $text-shadow-tile;
		@media (min-width: $md) {
			margin-top: 8vh;
		}
	}
	
	&__title {
		@include font-style(24px, normal, 1.2);
		color: $ns-white;
		@media (min-width: $sm) {
			font-size: calculate-rem(42px);
		}
		@media (max-height: 520px) and (max-width: $md) {
			font-size: calculate-rem(24px);
		}
	}
	
	&__subtitle {
		margin-bottom: $half-gutter;
		@include font-style(36px, bold, 1.2);
		color: $ns-white;
		@media (min-width: $sm) {
			margin-bottom: $gutter;
			font-size: calculate-rem(60px);
		}
		@media (min-width: $lg) {
			font-size: calculate-rem(72px);
		}
		@media (max-height: 520px) and (max-width: $md) {
			font-size: calculate-rem(36px);
		}
	}
	
	&__scrolldown {
		display: grid;
		position: absolute;
		bottom: $gutter;
		text-shadow: 1px 1px 0 rgba($ns-black, 0.35);
		width: 100vw;
		justify-content: center;
		text-align: center;
		@media (min-height: 640px) and (min-width: $md) {
			bottom: $double-gutter;
		}
	}
	
	&__label {
		@include font-style(14px, bold, 1.3);
		color: $ns-white;
	}
}



// sections 
// ----------------------------
.flx-section {
	position: relative;
	overflow: hidden;
	
	&--usps {
		padding: $half-gutter 0;
		@media (min-width: $sm) {
			padding: $double-gutter 0;
		}
	}
	
	&__container {
		padding: $gutter 0;
		@media (min-width: $md) {
			padding: $triple-gutter 0;
		}
		
		&--small {
			@media (min-width: $md) {
				padding: $gutter 0;
			}
		}
		
		&--large {
			padding: $one-half-gutter 0;
			@media (min-width: $md) {
				padding: 15vh 0;
			}
		}
		
		&--no-padding-top {
			padding-top: 0;
		}
	}
	
	&__content {
		padding: $gutter;
		
		&--white {
			.flx-section__title,
			.flx-section__description,
			.flx-section__label {
				color: $ns-white;
				text-shadow: 1px 1px rgba($ns-grey, 0.5);
			}
		}
		
		&--center {
			max-width: 740px;
			margin: 0 auto;
			text-align: center;
		}
		
		&--small {
			max-width: 720px;
		}
	}
	
	&__title {
		@include font-style(28px, normal, 1.3);
		margin-bottom: $half-gutter;
		color: $ns-blue;
		@media (min-width: $md) {
			font-size: calculate-rem(42px);
			margin-bottom: $gutter;
		}
	}
	
	&__description {
		@include font-style(18px, normal, 1.6);
		color: $ns-blue;
		margin-bottom: $gutter;
		@media (min-width: $md) {
			font-size: calculate-rem(20px);
		}
	}
	
	&__label {
		font-weight: bold;
		margin-top: $gutter;
		margin-bottom: 10px;
		color: $ns-blue;
	}
	
	&__img {
		padding: $gutter $gutter 0;
		line-height: 0;
		width: 200px;
		@media (min-width: $md) {
			padding: $gutter;
			width: 60%;
			justify-self: center;
		}
		
		&--100 {
			width: 100%;
			max-width: 440px;
			@media (min-width: $md) {	
				max-width: none;
			}
		}
		
		&--shadow {
			box-shadow: $box-shadow-medium;
		}
	}
	
	&__divider {
		margin: $gutter;
		border-bottom: 1px solid $ns-grey-6;
		@media (min-width: $md) {
			margin: $double-gutter $gutter;
		}
		
		&--alpha {
			border-bottom: 1px solid $ns-grey-alpha-15;
		}
	}
}



// al het ov
// ----------------------------
.flx-ov {
	@extend %bg-cover;
	background-image: url("../../media/ov.jpg");
	
	&__text-container {
		background-color: $ns-white;
		box-shadow: $box-shadow-medium;
		padding: $gutter;
	}
}


// costs counter
// ----------------------------
.flx-costs {
	position: relative;
	overflow: hidden;
	
	&__content {
		padding: $double-gutter $gutter;
		@media (min-width: $md) {
			padding: 160px $gutter;
		}
	}
	
	&__img {
		position: relative;
		padding: 0 $gutter;
		bottom: -10px;
		width: 100%;
		max-width: 480px;
		@media (min-width: $sm) {
			position: absolute;
			padding: 0;
			right: 0;
			width: 40%;
		}
	}
}


// testimonial
// ----------------------------
.flx-testimonial {	
	&__content {
		margin: 0 auto;
		max-width: 820px;
	}
	
	&__img {
		margin: 0 auto;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background-image: url("../../media/marieke.jpg");
		@extend %bg-cover;
	}
	
	&__quote {
		@include font-style(20px, normal, 1.6);
		margin-bottom: 20px;
		color: $ns-blue;
	}
	
	&__sender {
		margin: 0;
		color: $ns-blue;
	}
	
	&__icon {
		margin-bottom: $half-gutter;
		
		svg {
			fill: $ns-white;
		}		
	}
}


// faq
// ----------------------------
.flx-faq {
	border-bottom: 1px solid $ns-grey-7;
}