/*-------------------
		Layout
--------------------*/

%fixed-top-full-width {
	position: fixed;
	width: 100%;
	z-index: 99;
}

%full-absolute {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

%full-fixed {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

%bg-cover {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

%bg-contain {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}




/*-------------------
		Shadow
--------------------*/

%main-box-shadow {
	box-shadow: 0 2px 0 0 rgba($ns-grey, .15);
}




/*-------------------
	 	Font
--------------------*/

%smooth-font {
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
}