/*-------------------
	  Utilities
--------------------*/

.inline-block {
	display: inline-block;
}
.display-flex {
	display: flex;
}
.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}
.w-100 {
	width: 100%;
}
.h-100 {
	height: 100%;
}
.fade-all {
	transition: $fade-all;
}



// rotation
// -------------------------
.rotate-180 {
	transform: rotate(180deg);
}
.rotate-90 {
	transform: rotate(90deg);
}
.rotate-270 {
	transform: rotate(270deg);
}



// Layout
// -------------------------
@for $i from 1 through 16 {
	// margin
	.spacer-margin-#{$i} {
		@include spacer($i, false);
	}
	
	//padding
	.spacer-padding-#{$i} {
		@include spacer($i, true);
	}
}
.spacer-default {
	margin-bottom: $half-gutter;
	@media (min-width: $sm) {
		margin-bottom: $gutter;
	}
}
.spacer-inline-block {
	display: inline-block;
	width: 100%;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.center-v {
	vertical-align: middle;
	align-self: center;
	margin-top: auto;
	margin-bottom: auto;
}
.center-h {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	justify-self: center;
}
.margin-left-hg {
	margin-left: $half-gutter;
}
.margin-right-hg {
	margin-right: $half-gutter;
}
.no-padding-bottom {
	padding-bottom: 0;
}
.txt-center {
	text-align: center;
}
.txt-left {
	text-align: left;
}
.txt-right {
	text-align: right;
}



// Visibility
// -------------------------
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.visible-xs {
	@media (min-width: $sm) {
		display: none;
	}
}
.hidden-xs {
	@media (max-width: $sm) {
		display: none;
	}
}
.hidden-sm {
	@media (min-width: $sm) and (max-width: $md) {
		display: none;
	}
}
.hidden-md {
	@media (min-width: $md) and (max-width: $lg) {
		display: none;
	}
}
.hidden-lg {
	@media (min-width: $lg) {
		display: none;
	}
}



// Fonts
// -------------------------
.font-dark-blue {
	color: $ns-grey;
}
.font-white {
	color: $ns-white;
}
.font-yellow {
	color: $ns-yellow;
}
.font-blue {
	color: $ns-blue;
}
.font-light-blue {
	color: $ns-light-blue;
}
.font-grey-4 {
	color: $ns-grey-4;
}
.regular {
	font-weight: normal;
}
.bold {
	font-weight: bold;
}
.no-wrap {
	white-space: nowrap;
}



// Colours
// -------------------------
.blue {
	color: $ns-blue;
	svg {
		fill: $ns-blue;
	}
}
.light-blue {
	color: $ns-light-blue;
	svg {
		fill: $ns-light-blue;
	}
}
.red {
	color: $ns-red-alert;
	svg {
		fill: $ns-red-alert;
	}
}
.white {
	color: $ns-white;
	svg {
		fill: $ns-white;
	}
}
.grey-4 {
	color: $ns-grey-4;
	svg {
		fill: $ns-grey-4;
	}
}

.bg-blue {
	background-color: $ns-blue;
}
.bg-light-blue {
	background-color: $ns-light-blue;
}
.bg-yellow {
	background-color: $ns-yellow;
}
.bg-grey-8 {
	background-color: $ns-grey-8;
}
.bg-grey-7 {
	background-color: $ns-grey-7;
}



// Dividers
// -------------------------
.divider-white {
	border-bottom: 1px solid $ns-white;
}
.divider-grey-7 {
	border-bottom: 1px solid $ns-grey-7;	
}
.divider-grey-6b {
	border-bottom: 1px solid $ns-grey-6b;	
}
.divider-grey-6 {
	border-bottom: 1px solid $ns-grey-6;	
}
.divider-alpha-15 {
	border-bottom: 1px solid $ns-grey-alpha-15;	
}
.divider-blue-2px {
	border-bottom: 2px solid $ns-blue;
}
.divider {
	@extend .divider-grey-7;
}
.divider-v {
	border-left: 1px solid $ns-grey-7;
}



// Shadows
// -------------------------
.box-shadow-soft {
	box-shadow: $box-shadow-soft;
}
.box-shadow-hard {
	box-shadow: $box-shadow-hard;
}
.box-shadow-container {
	box-shadow: $box-shadow-container;
}