<div class="container container--section container--article container--slim sortItems"
    data-controller="generic/ui/SortItems"
    data-config="{&quot;labels&quot;:{&quot;allResults&quot;:&quot;Alle {0} abonnementen&quot;,&quot;filteredResults&quot;:&quot;{0} abonnementen voor {1}&quot;}}">
    <h1>Kies het abonnement dat bij u past</h1>
    <fieldset class="sortItems__desktop">
        <ul class="list list--distributed list--reset sortItems__picker"
            data-captions="{&quot;buitendespits&quot;:&quot;maandag t/m vrijdag tussen 9.00 - 16.00 en 18.30 - 6.30 uur&quot;,&quot;inhetweekend&quot;:&quot;tussen vrijdagavond 18.30 uur en maandagochtend 4.00 uur&quot;,&quot;tijdensdespits&quot;:&quot;maandag t/m vrijdag tussen 6.30 - 9.00 en 16.00 - 18.30 uur&quot;}">
            <li class="list__item">
                <div class="radioButton radioButton--underlined">
                    <input type="radio" class="radioButton__input" value="" id="toonAlles" name="sort" checked >
                    <label class="radioButton__label" for="toonAlles" tabindex="-1">Toon alles</label>
                </div>
            </li>
            <li class="list__item">
                <div class="radioButton radioButton--underlined">
                    <input type="radio" class="radioButton__input" value="buitendespits" id="buitendespits" name="sort">
                    <label class="radioButton__label" for="buitendespits" tabindex="-1">Buiten de spits</label>
                </div>
            </li>
            <li class="list__item">
                <div class="radioButton radioButton--underlined">
                    <input type="radio" class="radioButton__input" value="tijdensdespits" id="tijdensdespits" name="sort">
                    <label class="radioButton__label" for="tijdensdespits" tabindex="-1">Tijdens de spits</label>
                </div>
            </li>
            <li class="list__item">
                <div class="radioButton radioButton--underlined">
                    <input type="radio" class="radioButton__input" value="inhetweekend" id="inhetweekend" name="sort">
                    <label class="radioButton__label" for="inhetweekend" tabindex="-1">In het weekend</label>
                </div>
            </li>
            <li class="list__item">
                <div class="radioButton radioButton--underlined">
                    <input type="radio" class="radioButton__input" value="opeentraject" id="opeentraject" name="sort">
                    <label class="radioButton__label" for="opeentraject" tabindex="-1">Op één traject</label>
                </div>
            </li>
        </ul>
        <p class="sortItems__caption" aria-live="polite"></p>
    </fieldset>
    <fieldset class="sortItems__mobile">
        <div class="s-4-4 m-6-12 l-5-12">
            <label class="sortItems__pickerLabel" for="mobileaboselect">
            Verfijn uw keuze, ik reis vooral</label>
        </div>
        <div class="s-4-4 m-6-12 l-5-12">
            <select class="select sortItems__picker"
                data-captions="{&quot;buitendespits&quot;:&quot;maandag t/m vrijdag tussen 9.00 - 16.00 en 18.30 - 6.30 uur&quot;,&quot;inhetweekend&quot;:&quot;tussen vrijdagavond 18.30 uur en maandagochtend 4.00 uur&quot;,&quot;tijdensdespits&quot;:&quot;maandag t/m vrijdag tussen 6.30 - 9.00 en 16.00 - 18.30 uur&quot;}" id="mobileaboselect">
                <option value="" disabled selected>Kies een reismoment</option>
                <option value="">Toon alles</option>
                <option value="buitendespits">Buiten de spits</option>
                <option value="tijdensdespits">Tijdens de spits</option>
                <option value="inhetweekend">In het weekend</option>
                <option value="opeentraject">Op één traject</option>
            </select>
            <span class="sortItems__caption" aria-live="polite"></span>
        </div>
    </fieldset>
    <div class="grid grid--touch sortItems__match" data-controller="generic/ui/ResponsiveGrid" aria-live="polite">
        <h2 class="sortItems__heading">
            Alle <span class="sortItems__resultCount">6</span> abonnementen
        </h2>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 xl-3-12" data-itemsort="{&quot;id&quot;:&quot;dal-voordeel&quot;,&quot;index&quot;:1,&quot;sortOption&quot;:[&quot;buitendespits&quot;,&quot;inhetweekend&quot;]}" data-type="cms-ArticleAboTegel">
            <div class="tile tile--clickable tile--productUsp is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__title">
                    <h3 class="tile__iconHeading headingXS">
                        <span class="icon icon--discount icon--nsBlue icon--inlineHeader icon--xlarge"></span>
                        Dal Voordeel
                    </h3>
                </div>
                <div class="tile__content">
                    <ul class="list list--usp-alt list--topExemption">
                        <li class="list__item">
                            40% korting in het weekend
                        </li>
                        <li class="list__item">
                            40% korting buiten de spits
                        </li>
                    </ul>
                </div>
                <div class="tile__footer">
                    <div class="pricedetails pricedetails--withSticker">
                        <div class="pricedetails__priceContainer">
                            <div class="pricedetails__price">
                                &euro; 4,17
                            </div>
                            <div class="pricedetails__after">
                                per maand
                            </div>
                        </div>
                        <div class="pricedetails__sticker">
                            U betaalt € 50 per jaar
                        </div>
                    </div>
                    <a href="/abonnementen/dal-voordeel.html" class="button button--fullWidth" title="Dal Voordeel" data-eventdata="{&quot;category&quot;:&quot;userinteractie/clicks/links&quot;,&quot;data&quot;:{&quot;linkname&quot;:&quot;Bekijk&quot;,&quot;name&quot;:&quot;dal-voordeel&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/content/abonnementen/dal-voordeel/dal-voordeel&quot;,&quot;type&quot;:&quot;abonnement&quot;,&quot;url&quot;:&quot;/abonnementen/dal-voordeel.html&quot;},&quot;eventname&quot;:&quot;click&quot;}">Bekijk</a>
                </div>
            </div>
            <div class="collapsibleTile collapsibleTile--usp  s-visible m-hidden is-collapsible" data-controller="generic/ui/Collapsible" data-config="{&quot;selectors&quot;: {&quot;headerSelector&quot;: &quot;.collapsibleTile__title&quot;}}">
                <div class="collapsibleTile__title" tabindex="0" aria-expanded="false" role="button">
                    <h3 class="headingS">
                        <span class="icon icon--discount icon--nsBlue icon--inlineHeader icon--xlarge"></span>
                        <strong>Dal Voordeel</strong>
                    </h3>
                </div>
                <div class="collapsibleTile__body" aria-hidden="true" aria-live="polite">
                    <div class="collapsibleTile__content collapsibleTile__content--alignWithIcon">
                        <ul class="list list--small list--topExemption">
                            <li class="list__item">
                                40% korting in het weekend
                            </li>
                            <li class="list__item">
                                40% korting buiten de spits
                            </li>
                        </ul>
                    </div>
                    <div class="pricedetails pricedetails--withSticker">
                        <div class="pricedetails__priceContainer">
                            <div class="pricedetails__price">
                                &euro; 4,17
                            </div>
                            <div class="pricedetails__after">
                                per maand
                            </div>
                        </div>
                        <div class="pricedetails__sticker">
                            U betaalt € 50 per jaar
                        </div>
                    </div>
                    <a href="/abonnementen/dal-voordeel.html" class="button button--fullWidth" title="Dal Voordeel" data-eventdata="{&quot;category&quot;:&quot;userinteractie/clicks/links&quot;,&quot;data&quot;:{&quot;linkname&quot;:&quot;Bekijk&quot;,&quot;name&quot;:&quot;dal-voordeel&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/content/abonnementen/dal-voordeel/dal-voordeel&quot;,&quot;type&quot;:&quot;abonnement&quot;,&quot;url&quot;:&quot;/abonnementen/dal-voordeel.html&quot;},&quot;eventname&quot;:&quot;click&quot;}">Bekijk</a>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 xl-3-12" data-itemsort="{&quot;id&quot;:&quot;altijd-voordeel&quot;,&quot;index&quot;:2,&quot;sortOption&quot;:[&quot;tijdensdespits&quot;]}" data-type="cms-ArticleAboTegel">
            <div class="tile tile--clickable tile--productUsp is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__title">
                    <h3 class="tile__iconHeading headingXS">
                        <span class="icon icon--discount icon--nsBlue icon--inlineHeader icon--xlarge"></span>
                        Altijd Voordeel
                    </h3>
                </div>
                <div class="tile__content">
                    <ul class="list list--usp-alt list--topExemption">
                        <li class="list__item">
                            40% korting in het weekend
                        </li>
                        <li class="list__item">
                            40% korting buiten de spits
                        </li>
                        <li class="list__item">
                            20% korting in de spits
                        </li>
                    </ul>
                </div>
                <div class="tile__footer">
                    <div class="pricedetails pricedetails--withSticker">
                        <div class="pricedetails__priceContainer">
                            <div class="pricedetails__price">
                                &euro; 22
                            </div>
                            <div class="pricedetails__after">
                                per maand
                            </div>
                        </div>
                    </div>
                    <a href="/abonnementen/altijd-voordeel.html" class="button button--fullWidth" title="Altijd Voordeel" data-eventdata="{&quot;category&quot;:&quot;userinteractie/clicks/links&quot;,&quot;data&quot;:{&quot;linkname&quot;:&quot;Bekijk&quot;,&quot;name&quot;:&quot;altijd-voordeel&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/content/abonnementen/altijd-voordeel/altijd-voordeel&quot;,&quot;type&quot;:&quot;abonnement&quot;,&quot;url&quot;:&quot;/abonnementen/altijd-voordeel.html&quot;},&quot;eventname&quot;:&quot;click&quot;}">Bekijk</a>
                </div>
            </div>
            <div class="collapsibleTile collapsibleTile--usp  s-visible m-hidden is-collapsible" data-controller="generic/ui/Collapsible" data-config="{&quot;selectors&quot;: {&quot;headerSelector&quot;: &quot;.collapsibleTile__title&quot;}}">
                <div class="collapsibleTile__title" tabindex="0" aria-expanded="false" role="button">
                    <h3 class="headingS">
                        <span class="icon icon--discount icon--nsBlue icon--inlineHeader icon--xlarge"></span>
                        <strong>Altijd Voordeel</strong>
                    </h3>
                </div>
                <div class="collapsibleTile__body" aria-hidden="true" aria-live="polite">
                    <div class="collapsibleTile__content collapsibleTile__content--alignWithIcon">
                        <ul class="list list--small list--topExemption">
                            <li class="list__item">
                                40% korting in het weekend
                            </li>
                            <li class="list__item">
                                40% korting buiten de spits
                            </li>
                            <li class="list__item">
                                20% korting in de spits
                            </li>
                        </ul>
                    </div>
                    <div class="pricedetails pricedetails--withSticker">
                        <div class="pricedetails__priceContainer">
                            <div class="pricedetails__price">
                                &euro; 22
                            </div>
                            <div class="pricedetails__after">
                                per maand
                            </div>
                        </div>
                    </div>
                    <a href="/abonnementen/altijd-voordeel.html" class="button button--fullWidth" title="Altijd Voordeel" data-eventdata="{&quot;category&quot;:&quot;userinteractie/clicks/links&quot;,&quot;data&quot;:{&quot;linkname&quot;:&quot;Bekijk&quot;,&quot;name&quot;:&quot;altijd-voordeel&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/content/abonnementen/altijd-voordeel/altijd-voordeel&quot;,&quot;type&quot;:&quot;abonnement&quot;,&quot;url&quot;:&quot;/abonnementen/altijd-voordeel.html&quot;},&quot;eventname&quot;:&quot;click&quot;}">Bekijk</a>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 xl-3-12" data-itemsort="{&quot;id&quot;:&quot;weekend-vrij&quot;,&quot;index&quot;:3,&quot;sortOption&quot;:[&quot;buitendespits&quot;,&quot;inhetweekend&quot;]}" data-type="cms-ArticleAboTegel">
            <div class="tile tile--clickable tile--productUsp is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__title">
                    <h3 class="tile__iconHeading headingXS">
                        <span class="icon icon--netherlands icon--nsBlue icon--inlineHeader icon--xlarge"></span>
                        Weekend Vrij
                    </h3>
                </div>
                <div class="tile__content">
                    <ul class="list list--usp-alt list--topExemption">
                        <li class="list__item">
                            Onbeperkt reizen in het weekend
                        </li>
                        <li class="list__item">
                            40% korting buiten de spits
                        </li>
                    </ul>
                </div>
                <div class="tile__footer">
                    <div class="pricedetails pricedetails--withSticker">
                        <div class="pricedetails__priceContainer">
                            <div class="pricedetails__price">
                                &euro; 33
                            </div>
                            <div class="pricedetails__after">
                                per maand
                            </div>
                        </div>
                    </div>
                    <a href="/abonnementen/weekend-vrij.html" class="button button--fullWidth" title="Weekend Vrij" data-eventdata="{&quot;category&quot;:&quot;userinteractie/clicks/links&quot;,&quot;data&quot;:{&quot;linkname&quot;:&quot;Bekijk&quot;,&quot;name&quot;:&quot;weekend-vrij&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/content/abonnementen/weekend-vrij/weekend-vrij&quot;,&quot;type&quot;:&quot;abonnement&quot;,&quot;url&quot;:&quot;/abonnementen/weekend-vrij.html&quot;},&quot;eventname&quot;:&quot;click&quot;}">Bekijk</a>
                </div>
            </div>
            <div class="collapsibleTile collapsibleTile--usp  s-visible m-hidden is-collapsible" data-controller="generic/ui/Collapsible" data-config="{&quot;selectors&quot;: {&quot;headerSelector&quot;: &quot;.collapsibleTile__title&quot;}}">
                <div class="collapsibleTile__title" tabindex="0" aria-expanded="false" role="button">
                    <h3 class="headingS">
                        <span class="icon icon--netherlands icon--nsBlue icon--inlineHeader icon--xlarge"></span>
                        <strong>Weekend Vrij</strong>
                    </h3>
                </div>
                <div class="collapsibleTile__body" aria-hidden="true" aria-live="polite">
                    <div class="collapsibleTile__content collapsibleTile__content--alignWithIcon">
                        <ul class="list list--small list--topExemption">
                            <li class="list__item">
                                Onbeperkt reizen in het weekend
                            </li>
                            <li class="list__item">
                                40% korting buiten de spits
                            </li>
                        </ul>
                    </div>
                    <div class="pricedetails pricedetails--withSticker">
                        <div class="pricedetails__priceContainer">
                            <div class="pricedetails__price">
                                &euro; 33
                            </div>
                            <div class="pricedetails__after">
                                per maand
                            </div>
                        </div>
                    </div>
                    <a href="/abonnementen/weekend-vrij.html" class="button button--fullWidth" title="Weekend Vrij" data-eventdata="{&quot;category&quot;:&quot;userinteractie/clicks/links&quot;,&quot;data&quot;:{&quot;linkname&quot;:&quot;Bekijk&quot;,&quot;name&quot;:&quot;weekend-vrij&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/content/abonnementen/weekend-vrij/weekend-vrij&quot;,&quot;type&quot;:&quot;abonnement&quot;,&quot;url&quot;:&quot;/abonnementen/weekend-vrij.html&quot;},&quot;eventname&quot;:&quot;click&quot;}">Bekijk</a>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 xl-3-12" data-itemsort="{&quot;id&quot;:&quot;dal-vrij&quot;,&quot;index&quot;:4,&quot;sortOption&quot;:[&quot;buitendespits&quot;,&quot;opeentraject&quot;]}" data-type="cms-ArticleAboTegel">
            <div class="tile tile--clickable tile--productUsp is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__title">
                    <h3 class="tile__iconHeading headingXS">
                        <span class="icon icon--netherlands icon--nsBlue icon--inlineHeader icon--xlarge"></span>
                        Dal Vrij
                    </h3>
                </div>
                <div class="tile__content">
                    <ul class="list list--usp-alt list--topExemption">
                        <li class="list__item">
                            Onbeperkt reizen in het weekend
                        </li>
                        <li class="list__item">
                            Onbeperkt reizen buiten de spits
                        </li>
                    </ul>
                </div>
                <div class="tile__footer">
                    <div class="pricedetails pricedetails--withSticker">
                        <div class="pricedetails__priceContainer">
                            <div class="pricedetails__price">
                                &euro; 102
                            </div>
                            <div class="pricedetails__after">
                                per maand
                            </div>
                        </div>
                    </div>
                    <a href="/abonnementen/dal-vrij.html" class="button button--fullWidth" title="Dal Vrij" data-eventdata="{&quot;category&quot;:&quot;userinteractie/clicks/links&quot;,&quot;data&quot;:{&quot;linkname&quot;:&quot;Bekijk&quot;,&quot;name&quot;:&quot;dal-vrij&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/content/abonnementen/dal-vrij/dal-vrij&quot;,&quot;type&quot;:&quot;abonnement&quot;,&quot;url&quot;:&quot;/abonnementen/dal-vrij.html&quot;},&quot;eventname&quot;:&quot;click&quot;}">Bekijk</a>
                </div>
            </div>
            <div class="collapsibleTile collapsibleTile--usp  s-visible m-hidden is-collapsible" data-controller="generic/ui/Collapsible" data-config="{&quot;selectors&quot;: {&quot;headerSelector&quot;: &quot;.collapsibleTile__title&quot;}}">
                <div class="collapsibleTile__title" tabindex="0" aria-expanded="false" role="button">
                    <h3 class="headingS">
                        <span class="icon icon--netherlands icon--nsBlue icon--inlineHeader icon--xlarge"></span>
                        <strong>Dal Vrij</strong>
                    </h3>
                </div>
                <div class="collapsibleTile__body" aria-hidden="true" aria-live="polite">
                    <div class="collapsibleTile__content collapsibleTile__content--alignWithIcon">
                        <ul class="list list--small list--topExemption">
                            <li class="list__item">
                                Onbeperkt reizen in het weekend
                            </li>
                            <li class="list__item">
                                Onbeperkt reizen buiten de spits
                            </li>
                        </ul>
                    </div>
                    <div class="pricedetails pricedetails--withSticker">
                        <div class="pricedetails__priceContainer">
                            <div class="pricedetails__price">
                                &euro; 102
                            </div>
                            <div class="pricedetails__after">
                                per maand
                            </div>
                        </div>
                    </div>
                    <a href="/abonnementen/dal-vrij.html" class="button button--fullWidth" title="Dal Vrij" data-eventdata="{&quot;category&quot;:&quot;userinteractie/clicks/links&quot;,&quot;data&quot;:{&quot;linkname&quot;:&quot;Bekijk&quot;,&quot;name&quot;:&quot;dal-vrij&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/content/abonnementen/dal-vrij/dal-vrij&quot;,&quot;type&quot;:&quot;abonnement&quot;,&quot;url&quot;:&quot;/abonnementen/dal-vrij.html&quot;},&quot;eventname&quot;:&quot;click&quot;}">Bekijk</a>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 xl-3-12" data-itemsort="{&quot;id&quot;:&quot;traject-vrij&quot;,&quot;index&quot;:5,&quot;sortOption&quot;:[&quot;opeentraject&quot;]}" data-type="cms-ArticleAboTegel">
            <div class="tile tile--clickable tile--productUsp is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__title">
                    <h3 class="tile__iconHeading headingXS">
                        <span class="icon icon--route icon--nsBlue icon--inlineHeader icon--xlarge"></span>
                        Traject Vrij
                    </h3>
                </div>
                <div class="tile__content">
                    <ul class="list list--usp-alt list--topExemption">
                        <li class="list__item">
                            Onbeperkt reizen op een vast traject
                        </li>
                        <li class="list__item">
                            40% korting op andere trajecten
                        </li>
                    </ul>
                </div>
                <div class="tile__footer">
                    <div class="pricedetails pricedetails--withSticker">
                        <div class="pricedetails__priceContainer">
                            <div class="pricedetails__after">Prijs trajectafhankelijk</div>
                        </div>
                    </div>
                    <a href="/abonnementen/traject-vrij.html" class="button button--fullWidth" title="Traject Vrij" data-eventdata="{&quot;category&quot;:&quot;userinteractie/clicks/links&quot;,&quot;data&quot;:{&quot;linkname&quot;:&quot;Bekijk&quot;,&quot;name&quot;:&quot;traject-vrij&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/content/abonnementen/traject-vrij/traject-vrij&quot;,&quot;type&quot;:&quot;abonnement&quot;,&quot;url&quot;:&quot;/abonnementen/traject-vrij.html&quot;},&quot;eventname&quot;:&quot;click&quot;}">Bekijk</a>
                </div>
            </div>
            <div class="collapsibleTile collapsibleTile--usp  s-visible m-hidden is-collapsible" data-controller="generic/ui/Collapsible" data-config="{&quot;selectors&quot;: {&quot;headerSelector&quot;: &quot;.collapsibleTile__title&quot;}}">
                <div class="collapsibleTile__title" tabindex="0" aria-expanded="false" role="button">
                    <h3 class="headingS">
                        <span class="icon icon--route icon--nsBlue icon--inlineHeader icon--xlarge"></span>
                        <strong>Traject Vrij</strong>
                    </h3>
                </div>
                <div class="collapsibleTile__body" aria-hidden="true" aria-live="polite">
                    <div class="collapsibleTile__content collapsibleTile__content--alignWithIcon">
                        <ul class="list list--small list--topExemption">
                            <li class="list__item">
                                Onbeperkt reizen op een vast traject
                            </li>
                            <li class="list__item">
                                40% korting op andere trajecten
                            </li>
                        </ul>
                    </div>
                    <div class="pricedetails pricedetails--withSticker">
                        <div class="pricedetails__priceContainer">
                            <div class="pricedetails__after">Prijs trajectafhankelijk</div>
                        </div>
                    </div>
                    <a href="/abonnementen/traject-vrij.html" class="button button--fullWidth" title="Traject Vrij" data-eventdata="{&quot;category&quot;:&quot;userinteractie/clicks/links&quot;,&quot;data&quot;:{&quot;linkname&quot;:&quot;Bekijk&quot;,&quot;name&quot;:&quot;traject-vrij&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/content/abonnementen/traject-vrij/traject-vrij&quot;,&quot;type&quot;:&quot;abonnement&quot;,&quot;url&quot;:&quot;/abonnementen/traject-vrij.html&quot;},&quot;eventname&quot;:&quot;click&quot;}">Bekijk</a>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12 xl-3-12" data-itemsort="{&quot;id&quot;:&quot;altijd-vrij&quot;,&quot;index&quot;:6,&quot;sortOption&quot;:[&quot;tijdensdespits&quot;,&quot;opeentraject&quot;]}" data-type="cms-ArticleAboTegel">
            <div class="tile tile--clickable tile--productUsp is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__title">
                    <h3 class="tile__iconHeading headingXS">
                        <span class="icon icon--netherlands icon--nsBlue icon--inlineHeader icon--xlarge"></span>
                        Altijd Vrij
                    </h3>
                </div>
                <div class="tile__content">
                    <ul class="list list--usp-alt list--topExemption">
                        <li class="list__item">
                            Onbeperkt reizen in het weekend
                        </li>
                        <li class="list__item">
                            Onbeperkt reizen buiten de spits
                        </li>
                        <li class="list__item">
                            Onbeperkt reizen in de spits
                        </li>
                    </ul>
                </div>
                <div class="tile__footer">
                    <div class="pricedetails pricedetails--withSticker">
                        <div class="pricedetails__priceContainer">
                            <div class="pricedetails__price">
                                &euro; 333
                            </div>
                            <div class="pricedetails__after">
                                per maand
                            </div>
                        </div>
                    </div>
                    <a href="/abonnementen/altijd-vrij.html" class="button button--fullWidth" title="Altijd Vrij" data-eventdata="{&quot;category&quot;:&quot;userinteractie/clicks/links&quot;,&quot;data&quot;:{&quot;linkname&quot;:&quot;Bekijk&quot;,&quot;name&quot;:&quot;altijd-vrij&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/content/abonnementen/altijd-vrij/altijd-vrij&quot;,&quot;type&quot;:&quot;abonnement&quot;,&quot;url&quot;:&quot;/abonnementen/altijd-vrij.html&quot;},&quot;eventname&quot;:&quot;click&quot;}">Bekijk</a>
                </div>
            </div>
            <div class="collapsibleTile collapsibleTile--usp  s-visible m-hidden is-collapsible" data-controller="generic/ui/Collapsible" data-config="{&quot;selectors&quot;: {&quot;headerSelector&quot;: &quot;.collapsibleTile__title&quot;}}">
                <div class="collapsibleTile__title" tabindex="0" aria-expanded="false" role="button">
                    <h3 class="headingS">
                        <span class="icon icon--netherlands icon--nsBlue icon--inlineHeader icon--xlarge"></span>
                        <strong>Altijd Vrij</strong>
                    </h3>
                </div>
                <div class="collapsibleTile__body" aria-hidden="true" aria-live="polite">
                    <div class="collapsibleTile__content collapsibleTile__content--alignWithIcon">
                        <ul class="list list--small list--topExemption">
                            <li class="list__item">
                                Onbeperkt reizen in het weekend
                            </li>
                            <li class="list__item">
                                Onbeperkt reizen buiten de spits
                            </li>
                            <li class="list__item">
                                Onbeperkt reizen in de spits
                            </li>
                        </ul>
                    </div>
                    <div class="pricedetails pricedetails--withSticker">
                        <div class="pricedetails__priceContainer">
                            <div class="pricedetails__price">
                                &euro; 333
                            </div>
                            <div class="pricedetails__after">
                                per maand
                            </div>
                        </div>
                    </div>
                    <a href="/abonnementen/altijd-vrij.html" class="button button--fullWidth" title="Altijd Vrij" data-eventdata="{&quot;category&quot;:&quot;userinteractie/clicks/links&quot;,&quot;data&quot;:{&quot;linkname&quot;:&quot;Bekijk&quot;,&quot;name&quot;:&quot;altijd-vrij&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/content/abonnementen/altijd-vrij/altijd-vrij&quot;,&quot;type&quot;:&quot;abonnement&quot;,&quot;url&quot;:&quot;/abonnementen/altijd-vrij.html&quot;},&quot;eventname&quot;:&quot;click&quot;}">Bekijk</a>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid--touch sortItems__mismatch is-hidden" data-controller="generic/ui/ResponsiveGrid" aria-live="polite">
        <h2 class="sortItems__heading">Overige abonnementen</h2>
    </div>
</div>
<div class="container container--section" data-type="cms-LandingGrid" data-noindex="true">
    <div class="grid" data-controller="generic/ui/ResponsiveGrid" data-type="cms-DragDropGrid">
        <div class="grid__unit s-4-4 m-6-12 l-4-12" data-type="cms-ArticleThemaTegelBanner" style="height: 358px;">
            <div class="tile tile--contentBanner is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__backgroundimage">
                    <picture class="">
                        <source srcset="https://www.ns.nl/binaries/_ht_1509019047179/bannertegelmedium/content/gallery/ns-nl/thema-hero-afbeeldingen/hero_ns_flex_vrouw_koptelefoon_ov.jpg" media="(min-width: 640px)">
                        <source srcset="https://www.ns.nl/binaries/_ht_1509019064281/bannertegelsmall/content/gallery/ns-nl/thema-hero-afbeeldingen/hero_ns_flex_vrouw_koptelefoon_ov.jpg" media="(min-width: 0px)">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" class="img--contain">
                    </picture>
                </div>
                <div class="tile__content">
                    <div class="tile__contentLabel tile--transparent">
                        <h3>Meer</h3>
                        <a href="/abonnementen/overig" class="arrowLink arrowLink--white" title="Meer" data-eventdata="{&quot;category&quot;:&quot;userinteractie/clicks/links&quot;,&quot;data&quot;:{&quot;layout&quot;:&quot;banner&quot;,&quot;linkname&quot;:&quot;Bijzondere abonnementen en antwoorden op vragen&quot;,&quot;linktype&quot;:&quot;standaard&quot;,&quot;name&quot;:&quot;overig&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/content/abonnementen/overig&quot;,&quot;type&quot;:&quot;thema&quot;,&quot;url&quot;:&quot;/abonnementen/overig&quot;},&quot;eventname&quot;:&quot;click&quot;}">Bijzondere abonnementen en antwoorden op vragen</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__unit s-4-4 m-6-12 l-4-12" data-type="cms-ArticleThemaTegelBanner" style="height: 358px;">
            <div class="tile tile--contentBanner is-clickable" data-controller="generic/ui/ClickableTile">
                <div class="tile__backgroundimage">
                    <picture class="">
                        <source srcset="https://www.ns.nl/binaries/_ht_1530193067360/bannertegelmedium/content/gallery/ns-nl/thema-hero-afbeeldingen/zakelijk/zo-reist-nederland-2.jpg" media="(min-width: 640px)">
                        <source srcset="https://www.ns.nl/binaries/_ht_1530193004257/bannertegelsmall/content/gallery/ns-nl/thema-hero-afbeeldingen/zakelijk/zo-reist-nederland-2.jpg" media="(min-width: 0px)">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" class="img--contain">
                    </picture>
                </div>
                <div class="tile__content">
                    <div class="tile__contentLabel tile--transparent">
                        <h3>NS-Business Card</h3>
                        <a href="/zakelijk/ns-business-card" class="arrowLink arrowLink--white" title="NS-Business Card" data-eventdata="{&quot;category&quot;:&quot;userinteractie/clicks/links&quot;,&quot;data&quot;:{&quot;layout&quot;:&quot;banner&quot;,&quot;linkname&quot;:&quot;Bekijk de voordelen voor ZZPers&quot;,&quot;linktype&quot;:&quot;standaard&quot;,&quot;name&quot;:&quot;ns-business-card&quot;,&quot;path&quot;:&quot;/content/documents/ns-nl/content/zakelijk/ns-business-card&quot;,&quot;type&quot;:&quot;thema&quot;,&quot;url&quot;:&quot;/zakelijk/ns-business-card&quot;},&quot;eventname&quot;:&quot;click&quot;}">Bekijk de voordelen voor ZZPers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>