<!------- hero ------->
<div class="flx-hero flx-hero--abo">
	<div class="flx-hero__bg">
		<div class="ani ani--fade-in">
			<div class="flx-hero__img"></div>
		</div>
		<div class="flx-hero__flow" include="../media/flow-white.svg"></div>
	</div>
	<div class="ani ani--fade-in-up-small ani--delay-500">
		<div class="container ovr-container">
			<div class="flx-hero__content">
				<h1 class="flx-hero__title">NS Flex + abonnementen</h1> 
				<h2 class="flx-hero__subtitle">Nieuw: Flexibele abonnementen</h2>
				<button class="button flx-button--blue flx-button--rounded">
					Kies nu je korting
				</button>
			</div>
		</div>
	</div>
</div>

<!------- section ------->
<div class="flx-section flx-section--usps flx-gradient--light-grey ani ani--fade-in ani--delay-750" id="flx-s0">
	<div class="container ovr-container">
		<div class="flx-grid flx-grid--1-1 flx-grid--align-center">
			<div class="flx-section__img tr tr-500 tr--scale-in">
				<img src="../media/kalender.svg" class="img-responsive" />
			</div>
			<div class="flx-section__content">
				<h3 class="flx-section__content-item flx-section__title flx-section__title--abo tr tr-stag">
					Kies de korting die <b>nu</b> bij je past. Als je wilt, pas je de korting <b>elke maand</b> aan.
				</h3>
			</div>
		</div>
	</div>
</div>