<!------- hero ------->
<div class="flx-hero flx-hero--small">
	<div class="flx-hero__bg">
		<div class="ani ani--fade-in">
			<div class="flx-hero__img"></div>
			<div class="flx-gradient flx-gradient--cobalt-blue"></div>
		</div>
		<div class="flx-hero__flow" include="../media/flow-white.svg"></div>
	</div>
	<div class="ani ani--fade-in-up-small ani--delay-500">
		<div class="container ovr-container">
			<div class="flx-hero__content">
				<h1 class="flx-hero__title">{{hero.title}}</h1> 
				<h1 class="flx-hero__subtitle">{{hero.subtitle}}</h1>
				<button class="button button--nsYellow flx-button--yellow">
					{{button-cta-text}}
				</button>
			</div>
		</div>
	</div>
</div>